
form{
    display: flex;
    flex-direction: column;
    height:200px;
    /* max-width: 300px; */
    /* margin: 0 auto; */
    align-items: center;
    justify-content: center;
}

/* div{
    max-width: 700px;
} */
ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   /*  width: 700px; */
    gap: 40px;

    li{
        background-color: red;
        list-style-type: none;
        width:300px;
        min-width: 200px;
    }
    
}
